<div style="text-align: left;width: 500px;">
<h2>Angular service</h2>
<h2>List of employees</h2>
<table *ngIf="employees">
  <tr>
    <th>Id</th><br><br>
    <th>Name</th><br><br>
    <th>Age</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td><br>
    <td>{{employee.name}}</td><br>
    <td>{{employee.age}}</td>
  </tr>

</table>

</div>
<!-- <ul *ngFor="let employee of employees">
<li> Name:{{employee.name}}</li>
<li>Age:{{employee.age}}</li>
</ul> -->
<router-outlet></router-outlet>

  <!-- <li>Name:{{employee.name}}</li>
  <li>Age:{{employee.age}}</li> -->
  
